<div class="container">
  <br>
  
  <form>
    <div class="form-group">
      <label for="exampleFormControlSelect1">Ícone</label>
      <select class="form-control" id="exampleFormControlSelect1">
        <option>1</option>
        <option>2</option>
        <option>3</option>
        <option>4</option>
        <option>5</option>
      </select>
    </div>
    <div class="form-group">
      <label for="exampleFormControlInput1"></label>
      <input type="nome" class="form-control" id="exampleFormControlInput1" placeholder="Nome">
    </div>
    <div class="form-group">
      <label for="exampleFormControlInput1"></label>
      <input type="idade" class="form-control" id="exampleFormControlInput1" placeholder="Idade">
    </div>
    <div class="form-group">
      <label for="exampleFormControlInput1"></label>
      <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="Email">
    </div>

    <div class="col-auto">
        <div class="form-check mb-2">
          <input class="form-check-input" type="checkbox" id="autoSizingCheck">
          <label class="form-check-label" for="autoSizingCheck">
            Lembrar
          </label>
        </div>
      </div>
      <div class="col-auto">
        <button type="submit" class="btn btn-primary mb-2">Enviar</button>
      </div>
  </form>
</div>